<div id="popup" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Popup Title</h4>
            </div>
            <div class="modal-body">
                <!-- Popup content goes here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Show the pop-up when the partial view is loaded
        $('#popup').modal('show');
    });
</script>
