@model SEP.Models.ViewModels.FileVM

<div class="row pb-2">
    <h2 class="text-primary">Upload Document</h2>
</div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
</table>


<form method="post" asp-action="File" enctype="multipart/form-data">
    <input asp-for="ApplicationDocument.Id" hidden />
    <input asp-for="ApplicationDocument.ApplicationId" hidden />
    <input asp-for="ApplicationDocument.FilePath" hidden />
    <input asp-for="Application.Id" hidden />
    <div class="p-3 mt-2">

        <div class="mb-3 form-group row">
            <label asp-for="ApplicationDocument.Description" class="col-2"></label>
            <div class="col-5">
                <input asp-for="ApplicationDocument.Description" class="form-control">
                <span asp-validation-for="ApplicationDocument.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 form-group row">
            <div class="col-5">
                <input type="file" id="uploadBox" name="file" class="form-control">

            </div>
        </div>

    </div>

    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Upload</button>

</form>

@*<input asp-for="ApplicationDocument.FilePath" class="form-control" type="file" id="uploadBox" name="file">*@

<a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>

@section Scripts
    {
    <script>
        function ValidateInput(){
            if (document.getElementById("uploadBox").value==""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload a document!'
                });
                return false;
            }
            return true;
        }
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}