<div style="text-align: center; border-radius: 15px ;">
    <h3>Welcome Student</h3>
    <br />

    <a asp-area="Student" asp-action="Profile" class="btn btn-secondary" style="width:300px">Manage Profile</a>
    <a asp-area="Student" asp-action="Search" class="btn btn-secondary" style="width:300px">Search and Apply</a>
    <a asp-area="Student" asp-action="History"  class="btn btn-secondary" style="width:300px">Applications History</a>
</div>