@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-7">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Title" class="form-control" aria-required="true" />
                <label asp-for="Input.Title">Title</label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Telephone" class="form-control" aria-required="true" />
                <label asp-for="Input.Telephone">Telephone</label>
                <span asp-validation-for="Input.Telephone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Cellphone" class="form-control" aria-required="true" />
                <label asp-for="Input.Cellphone">Cellphone</label>
                <span asp-validation-for="Input.Cellphone" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class=form-select>
                    <option disabled selected>-Select Role-</option>
                </select>
            </div>
@*            Employer*@
           @* <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.JobTitle" class="form-control" aria-required="true" style="display:none"/>
                <label asp-for="Input.Employer.Employer.JobTitle">Job Title</label>
                <span asp-validation-for="Input.Employer.Employer.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.CompanyRegNo" class="form-control" aria-required="true" style="display:none" />
                <label asp-for="Input.Employer.Employer.CompanyRegNo">Company registration number</label>
                <span asp-validation-for="Input.Employer.Employer.CompanyRegNo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.BusinessName" class="form-control" aria-required="true" style="display:none" />
                <label asp-for="Input.Employer.Employer.BusinessName">Registered name of business</label>
                <span asp-validation-for="Input.Employer.Employer.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.TradingName" class="form-control" aria-required="true" style="display:none" />
                <label asp-for="Input.Employer.Employer.TradingName">Trading name (displayed)</label>
                <span asp-validation-for="Input.Employer.Employer.TradingName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.BusinessType" class="form-control" aria-required="true" style="display:none" />
                <label asp-for="Input.Employer.Employer.BusinessType">Business Type</label>
                <span asp-validation-for="Input.Employer.Employer.BusinessType" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Employer.Employer.RegisteredAddress" class="form-control" aria-required="true" style="display:none"/>
                <label asp-for="Input.Employer.Employer.RegisteredAddress">Registered address</label>
                <span asp-validation-for="Input.Employer.Employer.RegisteredAddress" class="text-danger"></span>
            </div>*@

            @*            <div class="form-floating mb-3">
            <input asp-for="Input.EmployerId" style="display:none;" asp-items="@Model.Input.JobTitle" class="form-control" aria-required="true" />
            <label asp-for="Input.EmployerId">Job Title</label>
            <span asp-validation-for="Input.EmployerId" class="text-danger"></span>
            </div>*@



            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
     <script>
        $(document).ready(function(){
            $('#Input_Role').change(function(){
                var selection = $('#Input_Role Option:Selected').text();
                //('#Input_Role Option:Selected').text();
                if(selection!='Employer'){
                    $('#Input_Employer_Employer_JobTitle').hide();
                    $('#Input_Employer_Employer_CompanyRegNo').hide();
                    $('#Input_Employer_Employer_BusinessName').hide();
                    $('#Input_Employer_Employer_TradingName').hide();
                    $('#Input_Employer_Employer_BusinessType').hide();
                    $('#Input_Employer_Employer_RegisteredAddress').hide();
                }
                else{
                    $('#Input_Employer_Employer_JobTitle').show();
                    $('#Input_Employer_Employer_CompanyRegNo').show();
                    $('#Input_Employer_Employer_BusinessName').show();
                    $('#Input_Employer_Employer_TradingName').show();
                    $('#Input_Employer_Employer_BusinessType').show();
                    $('#Input_Employer_Employer_RegisteredAddress').show();
                }
            })
        })
    </script>
}
