@model SEP.Models.ViewModels.EmployerVM


<form method="post" asp-action="Upsert" style="margin-left:25%">
    <input asp-for="Employer.Id" hidden />
    <div class="p-3 mt-2">
        <div class="row pb-2">
            <h2 class="text-primary">Employer → Manage Profile</h2>
        </div>

        @*        Register section*@
        <div class="form-floating mb-3 col-5">
            <input asp-for="ApplicationUser.Title" disabled class="form-control" />
            <label asp-for="ApplicationUser.Title">Title</label>
            <span asp-validation-for="ApplicationUser.Title" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="ApplicationUser.FirstName" disabled class="form-control" />
            <label asp-for="ApplicationUser.FirstName">First Name</label>
            <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="ApplicationUser.LastName" disabled class="form-control" />
            <label asp-for="ApplicationUser.LastName">Last Name</label>
            <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="ApplicationUser.Telephone" disabled class="form-control" />
            <label asp-for="ApplicationUser.Telephone">Telephone</label>
            <span asp-validation-for="ApplicationUser.Telephone" class="text-danger"></span>
        </div>



        @*        Employer section*@
        <div class="form-floating mb-3 col-5">
            <input asp-for="Employer.JobTitle" class="form-control" aria-required="true" />
            <label asp-for="Employer.JobTitle">Job Title</label>
            <span asp-validation-for="Employer.JobTitle" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="Employer.CompanyRegNo" class="form-control" aria-required="true" />
            <label asp-for="Employer.CompanyRegNo">Company registration number</label>
            <span asp-validation-for="Employer.CompanyRegNo" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="Employer.BusinessName" class="form-control" aria-required="true" />
            <label asp-for="Employer.BusinessName">Registered name of business</label>
            <span asp-validation-for="Employer.BusinessName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3 col-5">
            <input asp-for="Employer.TradingName" class="form-control" aria-required="true" />
            <label asp-for="Employer.TradingName">Trading name (displayed)</label>
            <span asp-validation-for="Employer.TradingName" class="text-danger"></span>
        </div>

        <div class="mb-3 form-group row col-5">
            <div>
                <select asp-for="Employer.BusinessTypeId" asp-items=@Model.BusinessTypeList class="form-select" aria-required="true">
                    <option disabled selected>Select Business Type</option> @*default value in select list*@
                </select>
                <br />
                <span asp-validation-for="Employer.BusinessTypeId" class="text-danger"></span>
            </div>
@*        <div class="form-floating mb-3">
            <input asp-for="Employer.BusinessType" class="form-control" aria-required="true" />
            <label asp-for="Employer.BusinessType">Business Type</label>
            <span asp-validation-for="Employer.BusinessType" class="text-danger"></span>
        </div>*@


            <div class="form-floating mb-3">
            <input asp-for="Employer.RegisteredAddress" class="form-control" aria-required="true" />
            <label asp-for="Employer.RegisteredAddress">Registered address</label>
            <span asp-validation-for="Employer.RegisteredAddress" class="text-danger"></span>
        </div>

            <div class="mb-3 form-group row">
            <div class="col-5">
                <select asp-for="Employer.StatusId" asp-items=@Model.StatusList class="form-select" hidden>
                </select>
                <br />
                <span asp-validation-for="Employer.StatusId" class="text-danger"></span>
            </div>

        </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Employer" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>


</form>

@section Scripts
    {
    <script>
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
